@*
    // ***   ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **     **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **     **  ** *******     *     **  ** **   *** **** ****
    // **************************************************************************
    // *                                                                         *
    // *    Enhanced nop blogs Plugin by NopAdvance team                         *
    // *    Copyright (c) NopAdvance LLP. All Rights Reserved.                   *
    // *                                                                         *
    // **************************************************************************
    // *                                                                         *
    // *    This software is licensed for use under the terms accepted during    *
    // *    the purchase of this product. A non-exclusive, non-transferable      *
    // *    right is granted to use this product on the website for which it was *
    // *    licensed.                                                            *
    // *                                                                         *
    // *    Companies purchasing this product for their customers are permitted, *
    // *    provided the use complies with the terms outlined in the EULA:       *
    // *    https://store.nopadvance.com/eula.                                   *
    // *                                                                         *
    // *    You may not reverse engineer, decompile, modify, or distribute this  *
    // *    software without explicit permission from NopAdvance LLP. Any        *
    // *    violation will result in the termination of your license and may     *
    // *    lead to legal action.                                                *
    // *                                                                         *
    // **************************************************************************
    // *    Contact: contact@nopadvance.com                                      *
    // *    Website: https://nopadvance.com                                      *
    // **************************************************************************
*@
@model BlogCollectionModel

@{
    //page title
    ViewBag.PageTitle = T(LocaleResourceDefaults.BLOG_WIDGET_BLOG_ADD).Text;
    Layout = "_AdminLayout";
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(SiteMapDefaults.BLOGCOLLECTION_MENU_SYSTEM_NAME);
}

<form asp-controller="NopAdvanceEnhancedNopBlogs" asp-action="Create" method="post" id="blog-widget-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T(LocaleResourceDefaults.BLOG_WIDGET_BLOG_ADD)
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T(LocaleResourceDefaults.BLOG_WIDGET_VIEW_BACKTOLIST)</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync($"_CreateOrUpdate", Model)
</form>