@*
    // ***   ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **     **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **     **  ** *******     *     **  ** **   *** **** ****
    // **************************************************************************
    // *                                                                         *
    // *    Enhanced nop blogs Plugin by NopAdvance team                         *
    // *    Copyright (c) NopAdvance LLP. All Rights Reserved.                   *
    // *                                                                         *
    // **************************************************************************
    // *                                                                         *
    // *    This software is licensed for use under the terms accepted during    *
    // *    the purchase of this product. A non-exclusive, non-transferable      *
    // *    right is granted to use this product on the website for which it was *
    // *    licensed.                                                            *
    // *                                                                         *
    // *    Companies purchasing this product for their customers are permitted, *
    // *    provided the use complies with the terms outlined in the EULA:       *
    // *    https://store.nopadvance.com/eula.                                   *
    // *                                                                         *
    // *    You may not reverse engineer, decompile, modify, or distribute this  *
    // *    software without explicit permission from NopAdvance LLP. Any        *
    // *    violation will result in the termination of your license and may     *
    // *    lead to legal action.                                                *
    // *                                                                         *
    // **************************************************************************
    // *    Contact: contact@nopadvance.com                                      *
    // *    Website: https://nopadvance.com                                      *
    // **************************************************************************
*@
@model BlogPageProductModel

@{

    var themeCssPath = await themeHelper.GetThemeCssPathAsync(PluginDefaults.SYSTEM_NAME);
    var themeJsPath = await themeHelper.GetThemeJsPathAsync(PluginDefaults.SYSTEM_NAME);

    Layout = "";
    NopHtml.AddCssFileParts($"{themeCssPath}/owl.carousel.css");
    NopHtml.AddCssFileParts($"{themeCssPath}/widget.css");
    if ((await workContext.GetWorkingLanguageAsync()).Rtl)
    {
        NopHtml.AddScriptParts(Nop.Web.Framework.UI.ResourceLocation.Footer, $"{themeJsPath}/owl.carousel.min.rtl.js");
        NopHtml.AddCssFileParts($"{themeCssPath}/widget.rtl.css");
    }
    else
    {
        NopHtml.AddScriptParts(Nop.Web.Framework.UI.ResourceLocation.Footer, $"{themeJsPath}/owl.carousel.min.js");
    }
}
<div class="product-grid RelatedProducts enhanced-nop-blog">
    <div class=" @(Model.Productslider ? "owl-carousel blog-product-slider" : "item-grid")">
        @foreach (var item in Model.productModels)
        {
            <div class="item-box">
                @await Html.PartialAsync("_ProductBox", item)
            </div>
        }
    </div>
</div>
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $('.blog-product-slider').owlCarousel({
                loop: true,
                margin: 16,
            dots: true,
            nav: false,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    481: {

                        items: 2
                    },
                    769: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        });
    </script>
